name: GitHub Pages - React Vite

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.16.0'

      - name: Install dependencies
        run: npm ci

      - name: Extract repository name from package.json
        id: package
        run: echo "name=$(node -p "require('./package.json').name")" >> $GITHUB_OUTPUT

      - name: Build React app for GitHub Pages
        env:
          VITE_PASSWORD_HASH: ${{ secrets.PASSWORD_HASH }}
          # Set the base path for the React app based on the repository name, '//<repository-name>/'
          VITE_BASE_PATH: /${{ steps.package.outputs.name }}/
        run: npm run build

      - name: Deploy
        if: success()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          enable_jekyll: false
